/* LEGENDS */

div.cartodb-legend-stack {
  position:absolute;
  bottom: 35px;
  right: 20px;
  display:none;

  webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #999999;
  background: white;
  z-index: 105;

  cursor: text;
}
div.cartodb-legend-stack div.cartodb-legend {
  position:relative;
  top: auto; right: auto; left: auto; bottom: auto;
  background: none;
  border:none;
  margin: 0;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0px;

  border-bottom: 1px solid #999;

  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  cursor: text;
}
div.cartodb-legend-stack div.cartodb-legend:last-child {
  border-bottom: none;
}
div.cartodb-legend {
  position:absolute;
  bottom: 35px;
  right: 20px;
  padding: 13px 15px 14px 15px;

  font:normal 13px "Helvetica",Arial;
  color:#858585;
  text-align: left;
  webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #999999;
  background: white;
  z-index: 105;
}
div.cartodb-legend .legend-title {
  margin: 0 0 10px 0;
  text-align:left;
  color:#666;
  font-weight:bold;
  font-size:11px;
  text-transform: uppercase;
}
div.cartodb-legend ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
div.cartodb-legend ul li {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: #666666;
  font-weight:bold;
  font-family: "Helvetica", Arial;
  text-transform: uppercase;
  line-height: normal;
}
/* None legend */
div.cartodb-legend-stack div.cartodb-legend.none,
div.cartodb-legend.none {
  display:none;
}

div.map div.cartodb-legend-stack div.cartodb-legend.wrapper .cartodb-legend {
  padding: 0;
  display:block;
}

div.cartodb-legend.wrapper .cartodb-legend {
  display:block;
  padding: 0;
}

/* Custom legend */

div.cartodb-legend.custom ul li,
div.cartodb-legend.category ul li,
div.cartodb-legend.color ul li {
  position:relative;
  margin: 0 0 7px 0;
  font-size: 10px;
  color: #666666;
  font-weight:bold;
  font-family: "Helvetica", Arial;
  text-transform: uppercase;
  text-align: left;
  height: 10px;
  line-height: 10px;
  vertical-align:middle;
}


div.cartodb-legend.custom ul li.bkg,
div.cartodb-legend.category ul li.bkg,
div.cartodb-legend.color ul li.bkg {
  height: 20px;
  line-height: 24px;
  margin: 0 0 15px 0;
}

div.cartodb-legend.custom ul li.bkg .bullet,
div.cartodb-legend.category ul li.bkg .bullet,
div.cartodb-legend.color ul li.bkg .bullet {
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, .3);
  border:none;
  background-size: 26px 26px!important;
  background-position: center center!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

div.cartodb-legend.custom ul li.bkg:last-child,
div.cartodb-legend.color ul li.bkg:last-child,
div.cartodb-legend.category ul li.bkg:last-child { margin: 0 0 5px 0; }


div.cartodb-legend.custom ul li:last-child,
div.cartodb-legend.color ul li:last-child,
div.cartodb-legend.category ul li:last-child { margin: 0; }

div.cartodb-legend.custom ul li .bullet,
div.cartodb-legend.category ul li .bullet,
div.cartodb-legend.color ul li .bullet {
  float:left;
  margin: 0 5px 0 0;
  width: 3px;
  height: 3px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

  padding: 2px;
  background:#fff;
  border: 1px solid rgba(0, 0, 0, .2);
  z-index: 1000;
}

/* Bubble legend */
div.cartodb-legend.bubble {
  text-align:center;
}

div.cartodb-legend.bubble ul {
  clear:both;
  overflow: hidden;

  display: -moz-inline-stack;
  display: inline-block;
}

div.cartodb-legend.bubble ul li {
  position:relative;
  float: left;
  top: 15px;
}

div.cartodb-legend.bubble ul li.graph {
  top: 0;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  background: #f1f1f1;
}

div.cartodb-legend.bubble ul li.graph .bubbles {
  background:url('../img/bubbles.png') no-repeat 0 0;
  width:120px; height:40px;
}


/* Choropleth legend */
div.cartodb-legend.choropleth {
  padding: 13px 15px 15px 15px;
}

div.cartodb-legend.choropleth ul {
  min-width: 210px;
}

div.cartodb-legend.choropleth li.min {
  float: left;
  margin: 0 0 5px 0;
}

div.cartodb-legend.choropleth li.max {
  float: right;
  margin: 0 0 5px 0;
}

div.cartodb-legend.choropleth li.graph div {
  width: 10px;
  height: 22px;
}

div.cartodb-legend.choropleth li.graph .quartile { display: table-cell; }
div.cartodb-legend.choropleth li.graph.count_7 .quartile { width: 30px; }
div.cartodb-legend.choropleth li.graph.count_5 .quartile { width: 42px; }
div.cartodb-legend.choropleth li.graph.count_3 .quartile { width: 70px; }

div.cartodb-legend.choropleth li.graph .colors {
  display: table-row;
}

div.cartodb-legend.choropleth li.graph {
  clear:both;
  overflow:hidden;

  display: table;

  width: 100%;
  height: 22px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding;

  /*box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);*/
  border: 1px solid #b3b3b3;
}

/* Density legend */
div.cartodb-legend.density {
  padding: 13px 15px 15px 15px;
}

div.cartodb-legend.density ul {
  min-width: 210px;
}

div.cartodb-legend.density li.min {
  float: left;
  margin: 0 0 5px 0;
}

div.cartodb-legend.density li.max {
  float: right;
  margin: 0 0 5px 0;
}

div.cartodb-legend.density li.graph div {
  width: 10px;
  height: 22px;
}

div.cartodb-legend.density li.graph .quartile { display: table-cell; }
div.cartodb-legend.density li.graph.count_7 .quartile { width: 30px; }
div.cartodb-legend.density li.graph.count_5 .quartile { width: 42px; }
div.cartodb-legend.density li.graph.count_3 .quartile { width: 70px; }

div.cartodb-legend.density li.graph .colors {
  display: table-row;
}

div.cartodb-legend.density li.graph {
  clear:both;
  overflow:hidden;

  display: table;
  width: 100%;
  height: 22px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding;

  /*box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);*/
  border: 1px solid #b3b3b3;
}

/* Intensity legend */

div.cartodb-legend.intensity {
  padding: 13px 15px 15px 15px;
}

div.cartodb-legend.intensity ul {
  min-width: 210px;
}

div.cartodb-legend.intensity li.min {
  float: left;
  margin: 0 0 5px 0;
}

div.cartodb-legend.intensity li.max {
  float: right;
  margin: 0 0 5px 0;
}

div.cartodb-legend.intensity li.graph {
  clear:both;

  width: 100%;
  height: 22px;
  background:#f1f1f1;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding;

  /*border: 1px solid #b3b3b3;*/
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);

}


/**************** OVERRIDES ********************/
/* Legends */
/* 
div.cartodb-legend-stack {
bottom: 60px;
right: -100px;
-webkit-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}
 */

div.cartodb-legend-stack {
bottom: 60px;
right: 5px;
}


/* Time slider */
div.cartodb-timeslider {
bottom: 40px !important;
left: 5px !important;
}
div.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
width: 100%;
}


/* Logo */
/* 
div.cartodb-logo {
display:none !important;
}
 */